.mtitle{margin-top:0}
.my_ltlist li:active{border:0.5px solid #666;background:#666;color:#fff}
.my_ltlist li:active a{color:#fff}
.my_ltlist li.on{border:0.5px solid #d91212;background:#d91212}
.my_ltlist li.on a{color:#fff}
.b2b_list li a strong{color:#1a1aa6;font-weight:400}
.btom{border-bottom:0.5px solid #cccccc}
.my_ltlist li .ssc_close{float:right;margin-left:10px;padding:0 10px 0 5px;height:28px;border-left:5px solid #fff;background:#000;background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/mclose.png) no-repeat 8px #000;background-size:16px;color:#fff;text-align:left;text-indent:16px;font-size:12px;line-height:28px;cursor:pointer}
.my_ltlist li.ssc_li_on{padding:0 0 0 10px;width:auto;height:28px;border:none;line-height:28px}
.my_ltlist li .ssc_close a{color:#999}
.page{float:left;margin:10px 0 0;padding:0;width:100%;margin-top:7px;}
.page li{margin-right:5px;padding:0 13px;height:30px;list-style:none;font-size:12px;line-height:30px}
.nonex,.page li{float:left;border:0.5px solid #cccccc}
.nonex{width:calc(100% - 2px);height:50px;background:#ffc;text-align:center;line-height:50px}
.page li a{color:#333;text-decoration:none}
.nonex strong{padding:0 5px;color:#d91212}
.mtitle_ico{position:absolute;top:0;left:0;width:43px;height:44px;border-right:0.5px solid #cccccc;background:#fff}
.m_ico_1{background: url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-list-ico.png) no-repeat 8px;background-size:24px;}
.m_ico_2{background: url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/jieguo-ico.png) no-repeat 8px;background-size:24px;}
.my_ltlist{display:flex;overflow:hidden;overflow-x:scroll;margin:0;padding:0;border-bottom:none;flex-wrap:nowrap}
.my_ltlist li{margin-right:5px;padding:5px 0;width:calc(20% - 6px);height:16px;border:0.5px solid #cccccc;list-style:none;text-align:center;font-size:12px;line-height:16px;flex:0 0 auto}
.my_ltlist{border-top:none}
.my_ltlist li.tou{background:#dedede}
.my_ltlist li a{color:#333;text-decoration:none;font-size:12px}
.my_ltlist_box{padding:10px;border:none;border-top:0.5px solid #cccccc;background:#fff}
.my_mtlist{background:#f9f9f9}
.dianzans{position:absolute;bottom:8px;left:5px;padding:0 5px;width:50px;background:#000;background:rgba(0,0,0,.4);color:#fff;text-align:center;text-indent:0;font-size:12px}
.mrside_ico{position:absolute;top:0;left:0;width:40px;height:43px;border-right:0.5px solid #cccccc;border-radius:0;background:#fff}
.m_rsico_1{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-list-ico.png) no-repeat 8px;background-size:24px}
.m_rsico_2{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/sceng_bang_ico.png) no-repeat 8px;background-size:24px}
.m_rsico_3{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/sceng_his_ico.png) no-repeat 10px;background-size:20px}
.caidan_hslist li.clear_history{border:none;background:#e1e1e1;color:#999;text-align:center}
.no_history{overflow:hidden;margin:10px;padding:0;height:30px;border:none;background:#e1e1e1;color:#999;text-align:center;line-height:30px}
.caidan_title{position:relative;padding:0 10px 0 0;height:43px;color:#000;text-indent:50px;line-height:43px}
.caidan_title span.zgdy{text-indent:0}
.ifbg_img_1{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/mbg_1.png) #000}
.ifbg_img_2{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/mbg_2.png) #000}
.ifbg_img_3{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/mbg_3.png) #000}
.ifbg_img_4{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/mbg_4.png) #000}
.mtit_list{position:relative;overflow:hidden;padding-top:0;padding-bottom:0;height:44px;border:none;border-bottom:0.5px solid #cccccc;background: #fdfdfd;text-indent:47px;font-size:15px;line-height:44px;}
.mtit_list_type{margin-top:0;border:none}
.mobile_tuibox{padding:10px 2% 12px;border-bottom:0.5px solid #cccccc;background:#fff}
.mobile_tul{margin:0;padding:0}
.mobile_tul li{float:left;width:20%;height:60px;list-style:none}
.mobile_tul li .mtui_dico{float:left;width:100%;height:60px;text-align:center;line-height:100px}
.mobile_tul li .mtui_dico1{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-dy-ico.png) no-repeat center 5px;background-size:32px}
.mobile_tul li .mtui_dico2{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-dsj-ico.png) no-repeat center 5px;background-size:32px}
.mobile_tul li .mtui_dico3{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-zy-ico.png) no-repeat center 5px;background-size:32px}
.mobile_tul li .mtui_dico4{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-dm-ico.png) no-repeat center 5px;background-size:32px}
.mobile_tul li .mtui_dico5{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-jlp-ico.png) no-repeat center 5px;background-size:32px}
.mobile_tul li .mtui_dico a{color:#000;text-decoration:none;font-size:12px}
.list_search_tishi{margin-top:5px;height:30px;border:0.5px solid #f90;background:#dedede;background:#ffc;color:#f90;text-align:center;line-height:30px}
.ssc_close:before{top:10px;left:-3px;border:inherit;border-top:none;border-left:none;background:#000}
.mtitle_ico:before,.ssc_close:before{position:absolute;padding:3px;content:"";transform:rotate(45deg)}
.mtitle_ico:before{top:19px;left:40px;border:0.5px solid #cccccc;border-bottom:none;border-left:none;background: #fdfdfd;}
.m_ico_ab{background: url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/mb-ipaihang-ico.png) no-repeat 50%;background-size:24px;}
.bg_ground_3{width:100%;border-top:0.5px solid #ddd}
.bg_ground_3 span{padding-left:52px;width:auto;text-align:left;font-size:15px}
.bg_ground_3 a span{padding-left:0}
.my_title a span{float:right;border-left:0.5px solid #cccccc;background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/more.png) no-repeat 35px 14px;background-size:16px;color:#999;text-align:left;text-indent:12px;font-size:12px;line-height:46px;WIDTH:60px}
.list_mhot{float:left;box-sizing:border-box;margin:0;padding:0;width:100%;border-top:0.5px solid #cccccc;border-right:0.5px solid #cccccc;border-left:0.5px solid #cccccc;background-color:#fff}
.list_mhot li{overflow:hidden;margin-right:0;padding:0;width:100%;height:34px;border-bottom:0.5px solid #cccccc;text-overflow:ellipsis;white-space:nowrap;line-height:34px}
.list_mhot li a{color:#333;text-decoration:none}
.list_mhot li span.qxd{padding-left:10px;color:#999;font-size:12px}
.list_mhot li span.hotcount{position:relative;float:right;padding:0 6px;height:34px;color:#999;font-size:12px;line-height:34px}
.list_mhot li em{position:relative;float:left;margin-right:10px;width:28px;height:34px;border-right:0.5px solid #cccccc;color:#888;text-align:center;font-weight:400;font-weight:700;font-style:normal;font-size:13px}
.list_mhot li em:before{position:absolute;top:calc(50% - 4.5px);right:-4px;padding:3px;border:0.5px solid #cccccc;border-bottom:none;border-left:none;background:#fff;content:"";transform:rotate(45deg)}

.page li{ overflow:hidden;}
.page li.beg{ text-align: center; background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/shouye_ico.png) center center no-repeat; background-size:18px;width: 30px;padding: 0px;}
.page li.pre{ text-align: center; background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/shangyiye_ico.png) center center no-repeat; background-size:18px; width: 30px;padding: 0px;}
.page li.lst{ text-align: center; background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/xiayiye_ico.png) center center no-repeat; background-size:18px; width: 30px;padding: 0px;}
.page li.end{ text-align: center; background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/weiye_ico.png) center center no-repeat; background-size:18px; width: 30px;padding: 0px;}
.page li.in{  position:relative;   background: #f9f9f9;color: #999999;}

.page li.pageinfo{color: #999999;}

.page li.no_moreli{
    width: calc(100% - 27px);
    text-align: center; font-size: 14px;
    background: #fafafa;
    color: #999999;
}