.mtitle{margin-top:0}
.my_ltlist li:active{border:0.5px solid #666;background:#666;color:#fff}
.my_ltlist li:active a{color:#fff}
.my_ltlist li.on{border:0.5px solid #d91212;background:#d91212}
.my_ltlist li.on a{color:#fff}
.b2b_list li a strong{color:#1a1aa6;font-weight:400}
.btom{border-bottom:0.5px solid #cccccc}
.my_ltlist li .ssc_close{float:right;margin-left:10px;padding:0 0 0 5px;width:24px;height:26px;background:#000;background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/mclose.png) no-repeat 50%;background-size:16px;color:#fff;text-align:center;text-indent:0;font-size:12px;line-height:26px;cursor:pointer}
.my_ltlist li.ssc_li_on{padding:0 0 0 10px;width:auto;height:26px;line-height:26px}
.my_ltlist li .ssc_close a{color:#999}
.page{float:left;margin:10px 0 0;padding:0;width:100%}
.page li{float:left;margin-right:5px;padding:0 13px;height:30px;box-shadow:0 1px 5px rgba(0,0,0,.1);list-style:none;font-size:12px;line-height:30px}
.nonex,.page li{border:0.5px solid #cccccc}
.nonex{width:calc(100% - 2px);height:50px;border-top:none;background:#fff;text-align:center;line-height:50px}
.page li a{color:#333;text-decoration:none}
.nonex strong{padding:0 5px;color:#d91212}
.my_ltlist{display:flex;overflow:hidden;overflow-x:scroll;margin:0;padding:0;border-bottom:none;flex-wrap:nowrap;-webkit-overflow-scrolling:touch}
.my_ltlist li{margin-right:5px;padding:5px 0;width:calc(20% - 6px);height:16px;border:0.5px solid #cccccc;list-style:none;text-align:center;font-size:12px;line-height:16px;flex:0 0 auto}
.my_ltlist{border-top:none}
.my_ltlist li.tou{background:#dedede}
.my_ltlist li a{color:#333;text-decoration:none;font-size:12px}
.my_ltlist_box{padding:10px;border:0.5px solid #cccccc;border-bottom:none;background:#fff;box-shadow:0 1px 5px rgba(0,0,0,.1)}
.my_mtlist{background:#f9f9f9}
.dianzans{position:absolute;bottom:8px;left:5px;padding:0 5px;background:#000;box-shadow:0 -3px 5px rgba(0,0,0,.25);color:#fff;text-align:center;text-indent:0;font-size:12px}
.mrside_ico{position:absolute;top:0;left:0;width:40px;height:43px;border-right:0.5px solid #cccccc;border-radius:0;background:#fff}
.m_rsico_1{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-list-ico.png) no-repeat 8px;background-size:24px}
.m_rsico_2{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/sceng_bang_ico.png) no-repeat 8px;background-size:24px}
.m_rsico_3{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/sceng_his_ico.png) no-repeat 10px;background-size:20px}
.caidan_hslist li.clear_history{border:none;background:#e1e1e1;color:#999;text-align:center}
.no_history{overflow:hidden;margin:10px;padding:0;height:30px;border:none;background:#e1e1e1;color:#999;text-align:center;line-height:30px}
.caidan_title{position:relative;padding:0 10px 0 0;height:43px;color:#000;text-indent:50px;line-height:43px}
.caidan_title span.zgdy{text-indent:0}
.ifbg_img_1{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/mbg_1.png) #000}
.ifbg_img_2{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/mbg_2.png) #000}
.ifbg_img_3{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/mbg_3.png) #000}
.ifbg_img_4{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/mbg_4.png) #000}
.p_title{font-size:14px}
.p_title span{display:block;box-sizing:border-box;margin:0;padding:5px 0;width:100%;height:46px;background:#fafafa;color:#444;text-align:center;font-weight:700;font-size:1.2em;line-height:36px}
.p_title font{font-size:1em}
.my_table td{box-sizing:border-box;border-bottom:0.5px solid #cccccc;border-left:0.5px solid #cccccc;text-align:center}
.my_table td a{color:#666;font-size:.9em}
.my_table{position:relative}
.list_info{padding:5px;text-align:left;text-indent:5px;font-size:14px;line-height:24px}
.ppic{margin-top:5px;width:120px;height:164px}
.bg_ground_3{width:100%;border-top:0.5px solid #ddd}
.bg_ground_2 span{float:right;padding-right:10px;width:auto;color:#999;font-size:16px}
.bg_ground_3 span{padding-left:10px;width:auto;text-align:left;font-size:15px}
.playerlist{float:left;overflow:hidden;margin:0;padding:6px 10px 5px;width:calc(100% - 20px)}
.playerlist li{float:left;margin-right:5px;margin-bottom:5px;min-width:calc(33% - 7px);border:0.5px solid #cccccc;background:#fefefe;list-style:none;text-align:center;font-size:14px;line-height:28px;cursor:pointer}
.playerlist li:active{border:0.5px solid #666;background:#e1e1e1}
.playerlist li a{color:#000;text-decoration:none}
.playerlist::-webkit-scrollbar{width:10px;height:1px}
.playerlist::-webkit-scrollbar-thumb{border-radius:0;background-color:#000;background-image:-webkit-linear-gradient(45deg,hsla(0,0%,100%,.2) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 75%,transparent 0,transparent)}
.playerlist::-webkit-scrollbar-track{border:0.5px solid #cccccc;border-radius:0;background:#ededed}
.isplaying{border:0.5px solid #d91212!important;background:#fefecc!important;color:#d91212;font-weight:400;cursor:default}
.player_slist .isplaying,.player_slist li{width:calc(100% - 1px)!important}
.plist_li_two li:last-child{margin-right:0;width:calc(50% - 4px)!important}
.plist_li_two li:nth-last-child(2){width:calc(50% - 3px)!important}
.plist_li_one li:last-child{margin-right:0;width:calc(100% - 1px)!important}
.list_info h2{display:contents;font-weight:400;font-size:14px}
.my_title em{float:right;margin-right:10px;color:#999;font-style:normal;font-size:12px;line-height:46px}
.mtitle_ico{float:left;width:46px;height:46px}
.m_ico_5{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-zx-ico.png) no-repeat 50% #fff;background-size:30px}
.m_ico_list{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-list-ico.png) no-repeat 50% #fff;background-size:30px}
.m_ico_about{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/fankui_ico.png) no-repeat 50% #fff;background-size:30px}
.m_ico_jian{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/mb-ipaihang-ico.png) no-repeat 50% #fff;background-size:30px}
.playerlist li.last_one{width:calc(100% - 1px)!important}
.playerlist li:nth-child(3n){margin-right:0;min-width:calc(34% - 5px)}
.playerlist li{min-width:calc(33% - 4px)}
.list_about{position:relative;float:left;margin:2%;padding-top:10px;border:0.5px solid #cccccc;text-indent:25px;word-break:break-all}
.mobile_tuibox{padding:10px 2% 12px;border-bottom:0.5px solid #cccccc;background:#fff}
.mobile_tul{margin:0;padding:0}
.mobile_tul li{float:left;width:20%;height:60px;list-style:none}
.mobile_tul li .mtui_dico{float:left;width:100%;height:60px;text-align:center;line-height:100px}
.mobile_tul li .mtui_dico1{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-dy-ico.png) no-repeat center 5px;background-size:32px}
.mobile_tul li .mtui_dico2{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-dsj-ico.png) no-repeat center 5px;background-size:32px}
.mobile_tul li .mtui_dico3{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-zy-ico.png) no-repeat center 5px;background-size:32px}
.mobile_tul li .mtui_dico4{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-dm-ico.png) no-repeat center 5px;background-size:32px}
.mobile_tul li .mtui_dico5{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-jlp-ico.png) no-repeat center 5px;background-size:32px}
.mobile_tul li .mtui_dico a{color:#000;text-decoration:none;font-size:12px}
.bg_ground_2{width:calc(100% - 1px);border:0.5px solid #cccccc;border-bottom:none;border-radius:0;text-align:center}
.mibang{position:relative;z-index:1;margin-top:7px;padding:0 0 0 0px;height:45px;border:0.5px solid #cccccc;border-top:3px solid #d91212;border-bottom:none;background:#fff;text-indent:55px;line-height:45px}
.mibang .bangjs{overflow:hidden}
.mibang .bang_ri{position:relative;float:left;width:25%;height:45px;border-left:none;color:#666;text-align:center;text-indent:0;line-height:45px}
.mibang .bang_yue,.mibang .bang_zhou{position:relative;float:left;width:calc(25% - 1px);height:45px;border-left:0.5px solid #cccccc;color:#666;text-align:center;text-indent:0;line-height:45px}
.mibang .bang_nian,.mibang .bang_yue{top:0;right:inherit}
.mibang .bang_nian{position:relative;float:left;width:calc(25% - 1px);height:45px;border-left:0.5px solid #cccccc;color:#666;text-align:center;text-indent:0;line-height:45px}
.mibang .bang_on{background:#fafafa;color:#d91212}
.mibang .bang_on:before{position:absolute;top:-5px;left:calc(50% - 4.5px);z-index:1;float:left;padding:5px;border:0.5px solid #e1e1e1;border-top:none;border-left:none;background:#d91212;content:"";transform:rotate(45deg)}
.list_bmhot{float:left;box-sizing:border-box;margin:0;padding:0;width:100%;background-color:#fff}
.mindex_bangulbox .list_mhot{border:none;box-shadow:none}
.mindex_bangulbox{float:left;width:calc(100% - 1px);border:0.5px solid #cccccc}
.plnotice{margin:10px 10px 0;padding:0;width:calc(100% - 21px);height:30px;border:0.5px solid #f90;background:#ffc;text-align:center;font-size:14px;line-height:32px}
.plbox{float:left;width:calc(100% - 1px)}
.b2b_list{margin:2%;width:96%}
.lijibofang{float:left;width:100%;height:40px;background:#ff5f00;color:#fff;text-align:center;text-decoration:none;font-size:16px;line-height:40px}
.my_title a span{float:right;border-left:0.5px solid #cccccc;background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/more.png) no-repeat 35px 14px;background-size:16px;color:#999;text-align:left;text-indent:12px;font-size:12px;line-height:46px;WIDTH:60px}
.bg_ground_2 h1{margin:0;color:#d91212;font-weight:700;font-size:18px;line-height:46px}
.mtitle_ico{position:absolute;top:0;left:0;width:43px;height:44px;border-right:0.5px solid #cccccc;background:#fff}
.m_ico_1{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-dy-ico.png) no-repeat 50% #fff;background-size:24px}
.m_ico_2{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-dsj-ico.png) no-repeat 50% #fff;background-size:24px}
.m_ico_3{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-zy-ico.png) no-repeat 50% #fff;background-size:24px}
.m_ico_4{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/m-dm-ico.png) no-repeat 50% #fff;background-size:24px}
.mline_count_1 .bangjs{width:100%;border-left:none}
.mline_count_2 .bangjs:first-child{width:50%;border-left:none}
.mline_count_2 .bangjs:nth-child(2){width:calc(50% - 0.5px)}
.mline_count_3 .bangjs:first-child{width:33%;border-left:none}
.mline_count_3 .bangjs:nth-child(2){width:calc(34% - 1px)}
.mline_count_3 .bangjs:nth-child(3){width:33%}
.my_title_vl{position:relative;float:left;width:100%;height:44px;border-bottom:0.5px solid #cccccc;background:#fff;color:#333}
.my_title_vl span{float:left;overflow:hidden;width:100%;height:46px;text-align:center;line-height:46px}
.bg_ground_3 span{padding-left:52px}
.m_ico_js{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/fankui_ico.png) no-repeat 50%;background-size:24px}
.m_ico_ab{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/mb-ipaihang-ico.png) no-repeat 50%;background-size:24px}
.bg_ground_3 a span{padding-left:0}
.bg_ground_4{width:100%;border-top:0 solid #ddd;background:#fafafa}
.bg_ground_4 span{padding-left:52px;width:auto;text-align:left;font-size:15px}
.bg_ground_4 a span{padding-left:0}
.lijibofang{border-radius:0;background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/vplay-ico.png) no-repeat 50% #ff5f00;background-size:24px;background-position-x:calc(50% - 45px)}
.bg_ground_2{position:relative}
.jiao_left{top:5px;left:0;background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/yinhao-s.png) no-repeat 0 0;background-size:30px}
.jiao_left,.jiao_right{position:absolute;width:30px;height:30px}
.jiao_right{right:0;bottom:0;background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/yinhao-x.png) no-repeat 0 0;background-size:30px}
.my_table{box-sizing:border-box;margin-bottom:0;border-top:0.5px solid #cccccc;border-right:0.5px solid #cccccc}
.warning{position:relative;background-color:#fff;background-image:linear-gradient(-45deg,transparent,transparent .8em,#fafafa .9em,#fafafa 2.1em,transparent 0,transparent 2.9em,#fafafa 3.1em);background-size:3em 3em;-webkit-animation:warning-animation .75s linear infinite;-moz-animation:warning-animation .75s infinite linear;animation:warning-animation .75s linear infinite}
@-webkit-keyframes warning-animation{0%{background-position:0 0}
to{background-position:3em 0}
}
@-moz-keyframes warning-animation{0%{background-position:0 0}
to{background-position:3em 0}
}
@keyframes warning-animation{0%{background-position:0 0}
to{background-position:3em 0}
}
.bg_mvico{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/bg_mvico.png) 100% no-repeat #fcfcfc;background-size:66px}
.m_ico_pl{background:url(https://cdn.jsdelivr.net/gh/lu8pw/pic/5imvwap/image/pl-lbico.png) no-repeat 50% ;background-size:24px}
.mtitle_ico:before{position:absolute;top:19px;left:40px;padding:3px;border:0.5px solid #cccccc;border-bottom:none;border-left:none;background: #fdfdfd;content:"";transform:rotate(45deg);}
.mindex_bangulbox div:first-child{display:block}
.mindex_bangulbox div:nth-child(2),.mindex_bangulbox div:nth-child(3),.mindex_bangulbox div:nth-child(4){display:none}
.plist_jishu{position:absolute;top:23px;right:0;bottom:0;left:0;height:20px;color:#999;font-size:12px;line-height:20px}
.mibang .bangjs{line-height:36px}
.my_table td a{color:#333;font-size:14px}
